body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,#9a1d86, #1595be);
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.player {
    min-height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.wrapper {
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    background-color: #ddd;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    border: 2px solid #FFFAFA;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 6px 5px black;
}

.now-playing { font-size: 1rem; text-align:center; }
.track-name { font-size: 2rem; text-align:center; }
.track-artist { font-size: 1.2rem; margin-top: 5px; text-align:center; }

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
    padding: 15px;
    opacity: 0.8;
    transition: opacity .2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover { opacity: 1.0; }

.slider_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.seek-container {
    width: 60%;
    height: 5px;
    background: #83A9FF;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.seek_slider {
    height: 5px;
    background: #3774FF;
    width: 0%;
    border-radius: 5px;
}

.volume_slider {
    width: 30%;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background: #83A9FF;
}

.volume_slider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #3774FF;
    border-radius: 100%;
    cursor: grab;
}

i, i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward, p { cursor: pointer; }

/* Shuffle & Repeat active states */
.randomActive { color: #3774FF; }
.repeatActive { color: #3774FF; }

/* Rotate track-art */
.rotate { animation: rotation 8s infinite linear; }
@keyframes rotation { from { transform: rotate(0deg); } to { transform: rotate(359deg); } }

/* Responsive */
@media (max-width: 500px) {
    .track-art { height: 200px; width: 200px; }
    .track-name { font-size: 1.5rem; }
    .track-artist { font-size: 1rem; }
    .playpause-track i { font-size: 4rem; }
}
